*{
    margin: auto;
    
}
.mezo{
    border: 1px solid rgb(0, 0, 0);
    width:100px;
    height: 100px;
    place-content: center;
    text-align: center;
    place-items: center;
    font-size: 60px;

}
.jatekTer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:300px;
}

